<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsl.xiangqing.mapper.SearchMapper" >
    <resultMap id="BaseResultMap" type="users" >
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName" />
        <result column="dateOfBirth" jdbcType="TIMESTAMP" property="dateOfBirth" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="wxAccount" jdbcType="VARCHAR" property="wxAccount" />
        <result column="height" jdbcType="DOUBLE" property="height" />
        <result column="weight" jdbcType="DOUBLE" property="weight" />
        <result column="constellation" jdbcType="VARCHAR" property="constellation" />
        <result column="education" jdbcType="VARCHAR" property="education" />
        <result column="job" jdbcType="VARCHAR" property="job" />
        <result column="salary" jdbcType="INTEGER" property="salary" />
        <result column="carAndHome" jdbcType="VARCHAR" property="carAndHome" />
        <result column="interest" jdbcType="VARCHAR" property="interest" />
        <result column="mate" jdbcType="VARCHAR" property="mate" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="loginIp" jdbcType="VARCHAR" property="loginIp" />

        <result column="longitude" jdbcType="DOUBLE" property="longitude" />
        <result column="latitude" jdbcType="DOUBLE" property="latitude" />

        <result column="delFlag" jdbcType="INTEGER" property="delFlag" />

        <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    </resultMap>
    <select id="selectUsersByHeight" parameterType="float" resultMap="BaseResultMap">
        SELECT * FROM Users
        where height > #{height}
    </select>
</mapper>