<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsl.xiangqing.mapper.RolePermissionMapper" >
    <select id="selectRoleIdByUserId" parameterType="long" resultType="java.lang.Integer">
        select role_id from UsersAndRole where user_id = #{userId}
    </select>
    <select id="selectRolesByRoleId" parameterType="long" resultType="string">
        select roleName from Role where id = #{roleId}
    </select>
    <select id="selectPermissionIdByRoleId" parameterType="long" resultType="java.lang.Integer">
        select id from RoleAndPermission where role_id = #{roleId}
    </select>
    <select id="selectPermissionById" parameterType="long" resultType="string">
        select permissionName from Permission where id = #{permissionId}
    </select>
</mapper>
